h1 #footer-letters {
  font-family: "Sawarabi Mincho", "cursive";
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "Noto Serif JP", serif;
}

li {
  font-family: "Noto Serif JP", serif;
}

// header

#ccbox{
  position: relative;
}

#catchcopy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  color: white;
  font-family: "Noto Serif JP", serif;
}

.v-expansion-panel-content__wrap {
  & > a{
    padding: 0;
    width: 100%;
  }
}

// footer

#footer-text {
  width: 100%;
  color: white;
}

#Ameba {
  height: 60px;
  width: 60px;
  color: white;
  background-color: green;
}