h1 #footer-letters {
  font-family: "Sawarabi Mincho", "cursive";
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 120%;
  display: block;
}

li {
  font-family: "Noto Serif JP", serif;
}